# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/UI/dist
/API/dist
/UI/tmp
/UI/out-tsc

# dependencies
/node_modules
/UI/node_modules
/API/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
/UI/.idea
/API/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/UI/.sass-cache
/connect.lock
/UI/coverage
/libpeerconnection.log
/UI/npm-debug.log
/UI/yarn-error.log
testem.log
/UI/typings

# System Files
.DS_Store
Thumbs.db

# Data Base
/db/.idea
