<section class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h2 *ngIf="isEdit; else addNew">Edit Device</h2>
      <ng-template #addNew>
        <h2>Add New Device</h2>
      </ng-template>
    </div>
    <div class="ui-g-3">
      <label for="float-input">Device name</label>
    </div>
    <div class="ui-g-9">
    <span class="ui-float-label">
      <input
        id="float-input"
        type="text"
        size="30"
        pInputText
        [(ngModel)]="deviceObj.title"
      >
    </span>
    </div>
    <div class="ui-g-3">
      <label>Device Type</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown
        [options]="(allDeviceTypes$ | async)"
        [(ngModel)]="deviceObj.device_type"
        placeholder="Device Type"
      ></p-dropdown>
    </div>
    <div class="ui-g-3">
      <label>OS Type</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown
        [options]="(allOSTypes$ | async)"
        [(ngModel)]="deviceObj.os_type"
        placeholder="OS Type"
      ></p-dropdown>
    </div>
    <div class="ui-g-3">
      <label>Room</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown
        [options]="(allRooms$ | async)"
        [(ngModel)]="deviceObj.room_id"
        placeholder="Room"
      ></p-dropdown>
    </div>
    <div class="ui-g-12" *ngIf="isEdit; else createNew">
      <p-button label="Save changes" icon="pi pi-check" iconPos="left" (onClick)="editDevice()"></p-button>
    </div>
    <ng-template #createNew>
      <div class="ui-g-6">
        <p-button label="Add new device" icon="pi pi-check" iconPos="left" (onClick)="addNewDevice()"></p-button>
      </div>
      <div class="ui-g-6">
        <button pButton label="Cancel" type="button" [routerLink]="['../']"></button>
      </div>
    </ng-template>
  </div>
</section>
