#layout-topbar {
  background-color: #20272a;
  display: block;
  padding: 0 10px;
  height: 70px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9997;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  color: #eaeaea;
  h2 {
    display: inline-flex;
    vertical-align: middle;
  }
  img {
    height: 100%;
    padding: 10px;
  }
}
