<section class="container">
  <h3>Add Device</h3>
  <span class="ui-float-label">
    <input
      id="float-input"
      type="text"
      size="30"
      pInputText
      [(ngModel)]="newDevice.title"
    >
    <label for="float-input">Device name</label>
  </span>
  <p-dropdown
    [options]="allDeviceTypes"
    [(ngModel)]="newDevice.device_type"
    optionLabel="title"
    dataKey="id"
    placeholder="Device Type"
  ></p-dropdown>
  <p-dropdown
    [options]="allDeviceTypes"
    [(ngModel)]="newDevice.os_type"
    optionLabel="title"
    dataKey="id"
    placeholder="OS Type"
  ></p-dropdown>
  <p-dropdown
    [options]="allRooms"
    [(ngModel)]="newDevice.room_id"
    optionLabel="room_name"
    dataKey="room_id"
    placeholder="Room"
  ></p-dropdown>
  <button pButton type="button" icon="pi pi-check" iconPos="left" (click)="addNewDevice()"></button>
  <p-button label="Click" icon="pi pi-check" iconPos="left" (onClick)="addNewDevice()"></p-button>
</section>
